/* Home page styles */
@font-face {
    font-family: 'cakefont';
    src: url('../font/cakedingbats-webfont.eot');
    src: url('../font/cakedingbats-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/cakedingbats-webfont.woff2') format('woff2'),
    url('../font/cakedingbats-webfont.woff') format('woff'),
    url('../font/cakedingbats-webfont.ttf') format('truetype'),
    url('../font/cakedingbats-webfont.svg#cake_dingbatsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.current-cost {
    font-weight: bold;
    margin-top: 30px;
    color: #606c76;
    text-align: center;
}

.budget-forms {
    display: flex;
    align-items: flex-start;
}

.budget-form,
.pause-budget-form,
.generate-costs-form,
.history-data-form {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.budget-form label {
    margin-right: 15px;
    margin-bottom: 16px;
    min-width: 110px;
}

.budget-form button,
.pause-budget-form button,
.generate-costs-form button,
.history-data-form button {
    margin-left: 15px;
    margin-bottom: 16px;
}

.budget-form input {
    width: 215px;
    height: 36px;
}
